<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Nhà Hàng Nhóm 08</a>



        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left nav links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="btn btn-outline-success me-1" href="/menu">
                        <i class="bi bi-grid me-1"></i>Thực đơn
                    </a>
                </li>
            </ul>

            <!-- Right side -->
            <div class="d-flex align-items-center gap-2">
                {{#if isAuthenticated}}
                <!-- Cart icon -->
                <a href="/cart" class="btn btn-outline-success position-relative" title="Giỏ hàng">
                    <i class="bi bi-cart3"></i>
                    {{#if cartCount}}
                    <span id="cartCountBadge"
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        style="font-size:.65rem">
                        {{cartCount}}
                    </span>
                    {{else}}
                    <span id="cartCountBadge"
                        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                        style="font-size:.65rem;display:none">0</span>
                    {{/if}}
                </a>
                <a href="/notification" class="btn btn-outline-success position-relative" title="Giỏ hàng">
                    <i class="bi bi-bell"></i>
                </a>
                <div class="dropdown">
                    <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle me-1"></i>{{authUser.name}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="/account/profile">
                                <i class="bi bi-person me-2"></i>Hồ sơ cá nhân
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/coupon/available">
                                <i class="bi bi-ticket-perforated me-2"></i>Mã giảm giá
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/favorite">
                                <i class="bi bi-heart me-2"></i>Món yêu thích
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/order">
                                <i class="bi bi-receipt me-2"></i>Đơn hàng của tôi
                            </a>
                        </li>

                        {{#if isStaff}}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-warning fw-semibold" href="/staff">
                                <i class="bi bi-clipboard-list me-2"></i>Quản lý đơn hàng
                            </a>
                        </li>
                        {{/if}}
                        {{#if (eq authUser.role "MANAGER")}}
                        <li>
                            <a class="dropdown-item" href="/coupon/manage">
                                <i class="bi bi-gear"></i>
                                Quản lý coupon
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger fw-semibold" href="/manager/foods">
                                <i class="bi bi-egg-fried me-2"></i>Quản lý món ăn
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger fw-semibold" href="/manager/staff">
                                <i class="bi bi-people me-2"></i>Quản lý nhân viên
                            </a>
                        </li>
                        {{!-- <li>
                            <a class="dropdown-item" href="/notification/kitchen">
                                <i class="bi bi-fire"></i>
                                Thông báo bếp
                            </a>
                        </li> --}}
                        {{/if}}

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form action="/account/signout" method="post" class="d-inline">
                                <button type="submit" class="dropdown-item text-danger">
                                    <i class="bi bi-box-arrow-right me-2"></i>Đăng xuất
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
                {{else}}
                <a class="btn btn-outline-success me-1" href="/account/signup">
                    <i class="bi bi-person-plus me-1"></i>Đăng ký
                </a>
                <a class="btn btn-outline-success me-1" href="/account/signin">
                    <i class="bi bi-person me-1"></i>Đăng nhập
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>